<div class='intro'>
  <img src='/images/about/profile.png' alt='Joseph Dubon' class='no-border'/>
  <h1>
    <span class="gray">Joseph</span>
    <span class="black">Dubon</span>
  </h1>
  <p>@josephdubon</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='https://americoders.org'>Americoders</a>.</li>
<li><a href='/index.xml'>RSS</a>.</li>
<li><a href='/about/'>About</a></li>
</ul>
</div>
